
# 根据目前的资料来看，从 Spring Boot 3.x 到最新的 Spring Boot 4.0 RC2 版本，
# spring.task.execution.pools 配置依然只会自动创建一个名为 applicationTaskExecutor 的默认线程池 Bean，
# 不会自动为配置文件中定义的每一个自定义池（如 bigTaskPool）创建对应的 Bean。

# 因此这种配置只能用于配置类来读取

spring:
  task:
    execution:
      shutdown:
        # 是否等待任务完成关闭 - 优雅关闭 对应setWaitForTasksToCompleteOnShutdown
        await-termination: false  #
        # 等待关闭的最大时间 对应setAwaitTerminationSeconds
        await-termination-period: 30s
      
      # 多个线程池配置（Spring Boot 2.1+）
      pools:
        # 默认池（@Async不指定名称时使用）
        default:
          core-size: 8
          max-size: 32
          queue-capacity: 128
          thread-name-prefix: "def-task-"
          keep-alive: 30s
          allow-core-thread-timeout: false
        
        # 自定义池（可通过@Async("bigTaskPool")使用）
        bigTaskPool:
          core-size: 2
          max-size: 8
          queue-capacity: 32
          thread-name-prefix: "big-task-"
          keep-alive: 600s
          allow-core-thread-timeout: true
