spring:
  mail:
    host: smtp.qq.com
#    username: xxxxxxxx@qq.com
#    password: xxxxxxxx # 注意：不是密码，是SMTP授权码
    port: 587
    default-encoding: UTF-8
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 10000
          timeout: 5000
          writetimeout: 10000